apiVersion: apps/v1
kind: Deployment
metadata:
  name: spleen
  labels:
    app: spleen
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spleen
  template:
    metadata:
      labels:
        app: spleen
    spec:
      containers:
      - name: spleen-app
        image: {{ app_image }}
        ports:
        - containerPort: {{ spleen_app_port }}
        envFrom:
        - configMapRef:
            name: spleen-env